<div class="container">

  <div class="header">
    <h2>FIND A PLACE TO STAY</h2>
    <h6>Wanna add a new flat to the list?       <%= link_to 'Click here!', new_flat_path, class: 'link' %></h6>
  </div>

  <div class="container-flat center-block well">

  <% if @flats == [] %>
    <div class="text-center">
      <p>There is no flat matching to your search, try again!</p>
      <%= render 'welcome/form' %>
    </div>
  <% end %>

  <ul>
  <% @flats.each do |flat|%>
    <ol><%= link_to flat.description, flat_path(flat), class: "link" %>, <%= flat.address%>, <%= flat.price %>€/night</ol>
  <% end %>
  </ul>

  </div>

  <div class="spacer"></div>

</div>