<div class="container">

  <div class="header">
    <h2><%=@flat.title%></h2>
    <h6> <%= link_to "Get back to flats' list", flats_path, class: "link"%></h6>
  </div>

  <div class="container-flat center-block well">

    <% if user_signed_in? && current_user.email == @flat.user.email %>
      <div class="row edit text-right"><%= link_to "Wanna update this flat?", edit_flat_path(@flat), class: "link" %> </div>
      <div class="row edit text-right link"><%= link_to "Wanna delete this flat?", @flat, method: :delete, class: "link" %> </div>
    <% end %>


    <% if @flat.pics.size > 0 %>
      <h4>Pic:</h4><% @flat.pics.each do |pic| %>
        <fieldset id="picture">
          <%= image_tag pic.picture.url(:thumb) %>
        </fieldset>
    <% end %>
      <%= image_tag @flat.pics.first.picture.url(:thumb) %>
    <% end %>
    <h4>Description:</h4><%=@flat.description%>
    <h4>Address:</h4><%=@flat.address%>
    <h4>Surface(m2):</h4><%=@flat.surface%>
    <h4>Price(€/night):</h4><%=@flat.price%>
    <h4>Beds:</h4><%=@flat.beds%>
    <h4>Contact the landlord:</h4><%=@flat.user.email%>

  </div>

  <div class="spacer"></div>

</div>
