<div class="container">

  <div class="header">
    <h2>Let's add some pictures the flat!</h2>
    <h6><%= link_to "Finish!", flat_path(@flat), class: "link text-right", id: "finish"%></h6>
  </div>
  <div class="spacer"></div>
  <div id="pictures-container">
    <%= render 'pictures' %>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
      <div class="col-xs-6 container-flat center-block">
        <%= form_for [@flat, @flat.pics.new], html: { multipart: true }, :remote => true do |f| %>
            <div class="form-group">
              <%= f.label :name, "Pic name" %>
              <%= f.text_field :name, class: "form-control", placeholder: "Bedroom1" %>
            </div>
            <div class="fileUpload btn">
                <span>Upload <i class="fa fa-upload"></i></span>
                <%= f.file_field :picture, class: "upload form-control" %> <br>
            </div>
        <% end %>
      </div>
    </div>

  <div class="spacer"></div>

</div>