<div class="container">

  <div class="header">
    <h2>Let's edit your profile!</h2>
  </div>

  <div class="col-xs-3"></div>

  <div class="col-xs-6 container-account center-block well">
    <%=form_for @account, url: account_path, html: {role:"form"} do |f| %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %> <br>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control"%> <br>
      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: "form-control"  %> <br>
      <%= f.label :address %>
      <%= f.text_field  :address, class: "form-control"  %> <br>
      <%= f.label :city %>
      <%= f.text_field  :city, class: "form-control" %> <br>
      <%= f.submit "Let's edit!", :class => "btn"%>
    <% end %>
  </div>

<div class="spacer"></div>

</div>
